<% include ./functions.ejs %>

<html>

    <head>
        <title>View Project Proposal</title>
        <%- include partials/scriptResources %>
        <link rel="stylesheet" type="text/css" href="css/element-stylesheet/button.css" />
        <link rel="stylesheet" href="css/form.css">
        <link rel="stylesheet" href="css/viewForm.css">
        <link rel="stylesheet" href="css/variables.css" />
        <link rel="stylesheet" href="css/bootstrap_modal_2.css" />
    </head>
    <body>
        <div class="go-back">
            <a href="/"><button class="dark" style="display: inline;"><i class="left chevron icon" style="float: left; margin-left: -1.5rem; margin-right: 1.3rem; margin-top: 0.1rem;"></i>
                Home</button></a>
            <!-- <i class="fas fa-2x fa-home"></i>Home -->
        </div>

        <%if(data.comments!=null){%>
            <div class="ui segments commentBox">
                <div class="ui segment">
                    <p>Comments</p>
                </div>
                <div class="ui secondary segment">
                    <p><%=data.comments%></p>
                </div>
            </div>
        <%}%>
        
        <div class="main ui text container">
            <div class="ui segments" style="padding: 1.2em;">
                <form id="activityForm" action="/preacts" method="get">
                    <div class="ui grid">
                        <div class="two column row">
                            <div class="left floated column1">
                                <h1 class="ui header" id="headerTitle" style="margin-top: 0.65em;text-align:left;"><%=data.title%></h1>
                            </div>
                            <div class="right floated column2">
                                <img src="assets/svg/logo_opps-logo-green.svg" />
                            </div>
                        </div>
                    </div>
                    <br/>
                    <%if(prevForm != null) {%>
                    <div class="ui buttons center">
                        <button id="newButton" class="ui teal button active" type="button">New Version</button>
                        <button id="oldButton" class="ui teal basic button" type="button">Old Version</button>
                    </div>
                    <br/>
                    <%}%>

                    <!-- Page 1-->
                    <div class="tab">
                        <h3 class="labelHead"><label>Organization/Unit</label></h3>
                        <label><%=org.name%></label>
                        <br />

                        <h3 class="labelHead ui header"><label>Project Head/s</label></h3>
                        <table id="pheads" class="ui compact celled definition fixed table unstackable">
                            <thead class="full-width">
                                <tr style="text-align: center;">
                                    <th class="item">Name</th>
                                    <th class="item">Contact Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0; i<data.projectHeads.length;i++) {%>
                                <tr>
                                    <td style="background:none;font-weight:1;"><%=data.projectHeads[i].name%></td>
                                    <td>0<%=data.projectHeads[i].contact_number%></td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>

                        <br/>
                        <table style="border: none">
                            <tr>
                                <td class="cell2 left"><h3>Nature of the Activity</h3></td>
                                <td class="cell2 left"><h3>Type of the Activity</h3></td>
                            </tr>
                            <tr>
                                <td id="nature" class="cell2 left"><%=data.nature%></td>
                                <td id="type" class="cell2 left"><%=data.typeOfActivity%></td>
                            </tr>
                            <tr>
                                <td class="cell2 cell3 left"><h3 class="labelHead ui header"><label>Date of the Activity</label></h3></td>
                            </tr>
                            <tr>
                                <td id="date" class="cell2 left"><%=data.startDate%></td>
                            </tr>
                            <tr>
                                <td class="cell2 left"><h3>Start Time</h3></td>
                                <td class="cell2 left"><h3>End Time</h3></td>
                            </tr>
                            <tr>
                                <td id="startTime" class="cell2 left"><%=data.startTime%></td>
                                <td id="endTime" class="cell2 left"><%=data.endTime%></td>
                            </tr>
                            <tr>
                                <td class="cell2 cell3 left"><h3>Venue of the Activity</h3></td>
                            </tr>
                            <tr>
                                <td id="venue" class="cell2 left"><%=data.venue%></td>
                            </tr>
                            <tr>
                                <td class="cell2 left"><h3>ENMP</h3></td>
                                <td class="cell2 left"><h3>ENP</h3></td>
                            </tr>
                            <tr>
                                <td id="enmp" class="cell2 left"><%=data.enmp%></td>
                                <td id="enp" class="cell2 left"><%=data.enp%></td>
                            </tr>
                            <tr>
                                <td class="cell2 cell3 left"><h3>Reach of the Activity</h3></td>
                            </tr>
                            <tr>
                                <td id="reach" class="cell2 left"><%=data.reach%></td>
                            </tr>
                            <tr>
                                <td class="cell2 left"><h3>Online Activity?</h3></td>
                                <td class="cell2 left"><h3>Activity in GOSM?</h3></td>
                            </tr>
                            <tr id="online_gosm">
                                <%if(data.online == true) {%>
                                <td class="cell2 left">YES</td>
                                <%} else{%>
                                <td class="cell2 left">NO</td>
                                <%}%>
                                <%if(data.GOSM == true) {%>
                                <td class="cell2 left">YES</td>
                                <%} else{%>
                                <td class="cell2 left">NO</td>
                                <%}%>
                            </tr>
                        </table>
                    </div>

                    <!-- Page 2-->
                    <div class="tab">
                        <h3 class="labelHead ui header">Brief Context /
                            Perspective of the Activity</h3>

                        <div id="context" class=box>
                            <%=data.context[0]%> <br/><br/>
                            <%=data.context[1]%> <br/><br/>
                            <%=data.context[2]%> 
                        </div>

                        <br />
                        <h3 class="labelHead ui header"><label>Objectives of the Activity</label></h3>
                        <div id="objectives" class="box">
                            <div class="field">
                                <label>1. <%=data.objectives[0]%></label>
                            </div>
                            <br />
                            <div>
                                <label>2. <%=data.objectives[1]%></label>
                            </div>
                            <br />
                            <div>
                                <label>3. <%=data.objectives[2]%></label>
                            </div>
                        </div>
                        <br />

                        <h3 class="labelHead ui header"><label>Comprehensive Program Design</label></h3>
                        <table id="cpd" class="ui compact celled definition fixed table unstackable">
                            <thead class="full-width">
                                <tr style="text-align: center;">
                                    <th class="item">Start Time to End Time</th>
                                    <th class="item">Duration</th>
                                    <th class="item">Activity</th>
                                    <th class="item five wide">Brief Description of Activity</th>
                                    <th class="item">Person-in-charge</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0; i<data.program_flow.length;i++) {%>
                                <tr>
                                    <td style="background:none;font-weight:1;"><%=data.program_flow[i].startTime%> to
                                        <%=data.program_flow[i].endTime%></td>
                                    <td><%=data.program_flow[i].duration%> mins</td>
                                    <td><%=data.program_flow[i].activity%></td>
                                    <td><%=data.program_flow[i].description%></td>
                                    <td><%=data.program_flow[i].person%></td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>

                    <!--Page 3-->
                    <div class="tab">
                        <h3 class="labelHead ui header"><label>Breakdown of Expenses</label></h3>
                        <%if(data.breakdown_expenses.total_expense != null) {%>
                        <table id="boe" class="ui compact celled definition fixed table unstackable">
                            <thead class="full-width">
                                <tr style="text-align: center;">
                                    <th class="item">Materials</th>
                                    <th class="item">Quantity</th>
                                    <th class="item">Unit Cost</th>
                                    <th class="item">Total Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0; i<data.breakdown_expenses.material.length;i++) {%>
                                <tr>
                                    <td style="background:none;font-weight:1;"><%=data.breakdown_expenses.material[i].name%></td>
                                    <td><%=data.breakdown_expenses.material[i].quantity%></td>
                                    <td>Php <%=toProperPHP(data.breakdown_expenses.material[i].unit_cost)%></td>
                                    <td>Php <%=toProperPHP(data.breakdown_expenses.material[i].total_cost)%></td>
                                </tr>
                                <%}%>
                            </tbody>
                            <tfoot class="full-width">
                                <tr>
                                    <th></th>
                                    <th colspan="2" class="total" style="border-left:none;">
                                        <div class="ui right floated small primary labeled">
                                            Total:
                                        </div>
                                    </th>
                                    <th class="result" name="boeTotal">Php <%=toProperPHP(data.breakdown_expenses.total_expense)%></th>
                                </tr>
                            </tfoot>
                        </table>
                        <%} else {%>
                            <span>The activity will not incur any expenses.</span>
                        <%}%>

                        <h3 class="labelHead ui header"><label>Source of Funds</label></h3>
                        
                        <%if(data.source_funds.total != null) {%>
                        <table id="sof" class="ui compact celled definition fixed table unstackable">
                            <thead class="full-width">
                                <tr style="text-align: center;">
                                    <th class="item eleven wide">Source/s of Funds</th>
                                    <th class="item three wide">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Organizational Funds</td>
                                    <td style="background:none;font-weight:1;">Php <%=toProperPHP(data.source_funds.organization_funds)%></td>
                                </tr>
                                <tr>
                                    <td>Participants Fee</td>
                                    <td style="background:none;font-weight:1;">Php <%=toProperPHP(data.source_funds.participants_fee)%>
                                </tr>
                                <tr>
                                    <td>Others (i.e. Sponsorships)</td>
                                    <td style="background:none;font-weight:1;">Php <%=toProperPHP(data.source_funds.others)%>
                                </tr>
                            </tbody>
                            <tfoot class="full-width">
                                <tr>
                                    <th colspan="1" class="total">
                                        <div class="ui right floated small primary labeled">
                                            <%{%>
                                                <%var dateSub = data.creationDate + "";%>
                                                <%var array = dateSub.split(" ");%>
                                                <%var date = array[1] + " " + array[2] + " " + array[3];%>
                                            <%}%>
                                            As of (<%=date%>) Total:
                                        </div>
                                    </th>
                                    <th class="result" name="totalSource">Php <%=toProperPHP(data.source_funds.total)%></th>
                                </tr>
                            </tfoot>
                        </table>
                        <%} else {%>
                            <span>The activity will not need any funding.</span>
                        <%}%>

                        <h3 class="labelHead ui header"><label>Organizational Funds</label></h3>
                        <table id="of" class="ui compact celled definition fixed table basic unstackable">
                            <thead class="full-width">
                                <tr style="text-align: left;">
                                    <th class="item eleven wide" style="border-right: none;">Accumulated Operational Funds</th>
                                    <th class="item four wide" style="border-left: none;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="right">
                                            Operational Fund
                                        </div>
                                    </td>
                                    <td>Php <%=toProperPHP(data.organizational_funds.operational_fund)%></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="background: white; padding-top: 0.8em; padding-bottom: 0.8em;">Accumulated
                                        Depository Funds</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="right">
                                            Depository Fund
                                        </div>
                                    </td>
                                    <td>Php <%=toProperPHP(data.organizational_funds.depository_fund)%></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="background: white; padding-top: 0.8em; padding-bottom: 0.8em;">Other
                                        Sources of Funds</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="right">
                                            Participants Fee/Donation/Sponsorships
                                        </div>
                                    </td>
                                    <td>Php <%=toProperPHP(data.organizational_funds.other_fund)%></td>
                                </tr>
                                <tr>
                                    <td class="bg-gray bold">
                                        <div class="right italics">
                                            Total Cash for Disbursement
                                        </div>
                                    </td>
                                    <td style="background-color: #F7F7F7;" name="totalDisbursement">Php <%=toProperPHP(data.organizational_funds.total_disbursement)%></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="right bold">
                                            Less: Total Projected Expenses
                                        </div>
                                    </td>
                                    <td style="background-color: #F7F7F7;">Php <%=toProperPHP(data.organizational_funds.projected_expenses)%></td>
                                </tr>
                                <tr>
                                    <td class="bg-gray">
                                        <div class="right bold">
                                            REMAINING BALANCE
                                        </div>
                                    </td>
                                    <td style="background-color: #F7F7F7;">Php <%=toProperPHP(data.organizational_funds.rem_balance)%></td>
                                </tr>
                            </tbody>
                        </table>

                        <h3 class="labelHead ui header"><label>Projected Income</label></h3>
                        <%if(data.projected_income.total != null) {%>
                        <table id="pi" class="ui compact celled definition fixed table unstackable">
                            <thead class="full-width">
                                <tr style="text-align: left;">
                                    <th colspan="4">Projected Revenue</th>
                                </tr>
                                <tr style="text-align: center;">
                                    <th class="item">Item</th>
                                    <th class="item">Quantity</th>
                                    <th class="item">Selling Price</th>
                                    <th class="item">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0; i<data.projected_income.revenue.length;i++) {%>
                                <tr>
                                    <td style="background:none;font-weight:1;"><%=data.projected_income.revenue[i].item%></td>
                                    <td><%=data.projected_income.revenue[i].quantity%></td>
                                    <td>Php <%=toProperPHP(data.projected_income.revenue[i].price)%></td>
                                    <td>Php <%=toProperPHP(data.projected_income.revenue[i].amount)%></td>
                                </tr>
                                <%}%>
                            </tbody>
                            <thead class="full-width">
                                <tr style="text-align: left;">
                                    <th colspan="4">Less: Projected Expenses</th>
                                </tr>
                                <tr style="text-align: center;">
                                    <th class="item">Item</th>
                                    <th class="item">Quantity</th>
                                    <th class="item">Selling Price</th>
                                    <th class="item">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0; i<data.projected_income.expenses.length;i++) {%>
                                <tr>
                                    <td style="background:none;font-weight:1;"><%=data.projected_income.expenses[i].item%></td>
                                    <td><%=data.projected_income.expenses[i].quantity%></td>
                                    <td>Php <%=toProperPHP(data.projected_income.expenses[i].price)%></td>
                                    <td>Php <%=toProperPHP(data.projected_income.expenses[i].amount)%></td>
                                </tr>
                                <%}%>
                            </tbody>
                            <tfoot class="full-width">
                                <tr>
                                    <th></th>
                                    <th colspan="2" class="total" style="border-left:none;">
                                        <div class="ui right floated small primary labeled">
                                            TOTAL PROJECTED INCOME
                                        </div>
                                    </th>
                                    <th class="result" name="boeTotal">Php <%=toProperPHP(data.projected_income.total)%></th>
                                </tr>
                            </tfoot> 
                        </table>
                        <%} else {%>
                            <span>The activity is not a fundraising/selling activity; thus, it will not incur income or loss.</span>
                        <%}%>

                        <h3 class="labelHead ui header"><label>Provision for Profit and Loss</label></h3>
                        The following people shall be held liable and will shoulder any remaining balance incurred
                        by the project.<br><br>

                        <table id="provision" style="border: none">
                            <tr>
                                <td class="cell2 left"><h3>Name of Person Responsible</h3></td>
                                <td class="cell2 left"><h3>Name of Person Responsible</h3></td>
                            </tr>
                            <tr>
                                <td class="cell2 left"><%=data.person_responsible[0].name%></td>
                                <td class="cell2 left"><%=data.person_responsible[1].name%></td>
                            </tr>
                            <tr>
                                <td class="cell2 left"><h3>Position</h3></td>
                                <td class="cell2 left"><h3>Position</h3></td>
                            </tr>
                            <tr>
                                <td class="cell2 left"><%=data.person_responsible[0].position%></td>
                                <td class="cell2 left"><%=data.person_responsible[1].position%></td>
                            </tr>
                        </table>
                        
                    </div>
                    <br/>

                    <div class="ui grid">
                        <div class="row"></div>
                        <div class="three column row">
                            <div class="four wide left floated column">
                                <button class="fluid submit-button previous" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                            </div>
                            <div class="three wide column">
                                <!-- Circles which indicates the steps of the form -->
                                <div class="ui items">
                                    <div class="item">
                                        <div class="content" style="margin-top: 1.3em; margin-left: 0.5em;">

                                            <button type="button" class="step" onclick="goToTab(0)"></button>
                                            <button type="button" class="step" onclick="goToTab(1)"></button>
                                            <button type="button" class="step" onclick="goToTab(2)"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="four wide right floated column">
                                <button class="fluid submit-button next" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                            </div>
                        </div>
                    </div>
                </form>
                <%if(button === true) {%>
                    <div>
                        <!-- Full Rejection modal -->
                        <div class="modal fade" id="modalActivityFullReject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Comments for Rejection</h4>
                                    </div>
                                    <form id="status-form" action="/preacts/fullReject/<%=data._id%>" method="post">
                                        <div class="modal-body">
                                            You are about to <b>fully reject</b> the activity <b><%=data.title%></b>. Please state your reason.
                                            <textarea name="comments" required></textarea>
                                        </div>
                                        <div class="modal-footer">                          
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="reject">Reject</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Rejection modal -->
                        <div class="modal fade" id="modalActivityReject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Comments for Revision</h4>
                                    </div>
                                    <form id="status-form" action="/preacts/reject/<%=data._id%>" method="post">
                                        <div class="modal-body">
                                            You are about to <b>reject for revisions</b> the activity <b><%=data.title%></b>. Please state your reasons.
                                            <textarea name="comments" required></textarea>
                                        </div>

                                        <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" id="reject">Reject</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Approval modal -->
                        <div class="modal fade" id="modalActivityApprove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Confirm action</h4>
                                    </div>
                                    <div class="modal-body">
                                        You are about to <b>approve</b> the activity <b><%=data.title%></b>. Proceed?
                                    </div>
                                    <div class="modal-footer">                           
                                        <form id="status-form" action="/preacts/approve/<%=data._id%>" method="post">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="approve">Approve</button> 
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%if(curUser == true) {%>
                        <input id="approve" type="submit" class="button approve" value="Approve" data-toggle="modal" data-target="#modalActivityApprove">
                        <input id="reject" type="submit" class="button reject" value="Reject" data-toggle="modal" data-target="#modalActivityReject">
                        <input id="reject" type="submit" class="button reject" value="Full Reject" data-toggle="modal" data-target="#modalActivityFullReject"> 
                        <%}%>
                    </div>
                <br/><br/>
                <%} else {%>
                    <%if(data.status == "Rejected") {%>
                        <div>
                            <form id="form" action="/editForm" method="post">
                                <input style="display:none;" value="<%=data._id%>" name="form_id">
                                <input id="edit" type="submit" class="fluid submit-button next" value="Edit">
                            </form>
                        </div>
                    <%}%>
                <%}%>
            </div>
        </div>

        <script>
            console.log("HEOAFJDNKSDJBHJE<LIJVDHKUHB<NK>JILSHBM N")
            console.log(<%data.currentCheckers%>)
            console.log(<%curUser%>)
            console.log(<%data.currentCheckers.includes(curUser)%>)
            var newVersion = true;
            var currentTab = 0; // Current page is set to be the first page (0)
            showTab(currentTab); // Display the current page


            function showTab(n) {
                // This function will display the specified page of the form ...
                var x = document.getElementsByClassName("tab");

                x[n].style.display = "block";
                // ... and fix the Previous/Next buttons:
                if (n == 0) {
                    document.getElementById("prevBtn").style.display = "none";
                } else {
                    document.getElementById("prevBtn").style.display = "inline";
                }

                if (n == (x.length - 1)) {
                    document.getElementById("nextBtn").innerHTML = "Done";
                } else {
                    document.getElementById("nextBtn").innerHTML = "Next";
                }

                // ... and run a function that displays the correct step indicator:
                fixStepIndicator(n)
                $(window).scrollTop(0);
            }

            function nextPrev(n) {
                // This function will figure out which tab to display
                var x = document.getElementsByClassName("tab");
                // Exit the function if any field in the current tab is invalid:

                x[currentTab].style.display = "none";
                // Increase or decrease the current tab by 1:
                currentTab = currentTab + n;
                // if you have reached the end of the form... :
                if (currentTab >= x.length) {
                    //...the form gets submitted:
                    document.getElementById("activityForm").submit();
                    showTab(currentTab - 1);
                    return false;
                }
                // Otherwise, display the correct tab:
                showTab(currentTab);
                changeContent();
            }

            function goToTab(n) {
                var x = document.getElementsByClassName("tab");

                x[currentTab].style.display = "none";
                currentTab = n;

                showTab(currentTab);
                changeContent();
                $(window).scrollTop(0);
            }

            function fixStepIndicator(n) {
                // This function removes the "active" class of all steps...
                var i, x = document.getElementsByClassName("step");
                for (i = 0; i < x.length; i++) {
                    x[i].className = x[i].className.replace(" active", "");
                }
                //... and adds the "active" class to the current step:
                x[n].className += " active";
            }

            function addComment() {
                document.getElementsById("commentBox").style.display = "block";
            }
            
            function changeContent() {
                <%if(prevForm != null) {%>
                if(newVersion) {
                    if(currentTab == 0) {
                        $("table#pheads").replaceWith(
                            '<table id="pheads" class="ui compact celled definition fixed table unstackable"><thead class="full-width"><tr style="text-align: center;"><th class="item">Name</th><th class="item">Contact Number</th></tr></thead><tbody><div id="pheads"><%for(var i=0; i<data.projectHeads.length;i++){%><tr><td style="background:none;font-weight:1;"><%=data.projectHeads[i].name%></td><td>0<%=data.projectHeads[i].contact_number%></td></tr><%}%></div></tbody></table>');
                        $("td#nature").replaceWith('<td id="nature" class="cell2 left"><%=data.nature%></td>');
                        $("td#type").replaceWith('<td id="type" class="cell2 left"><%=data.typeOfActivity%></td>');
                        $("td#date").replaceWith('<td id="date" class="cell2 left"><%=data.startDate%></td>');
                        $("td#startTime").replaceWith('<td id="startTime" class="cell2 left"><%=data.startTime%></td>');
                        $("td#endTime").replaceWith('<td id="endTime" class="cell2 left"><%=data.endTime%></td>');
                        $("td#venue").replaceWith('<td id="venue" class="cell2 left"><%=data.venue%></td>');
                        $("td#enmp").replaceWith('<td id="enmp" class="cell2 left"><%=data.enmp%></td>');
                        $("td#enp").replaceWith('<td id="enp" class="cell2 left"><%=data.enp%></td>');
                        $("td#reach").replaceWith('<td id="reach" class="cell2 left"><%=data.reach%></td>');
                        $("tr#online_gosm").replaceWith('<tr id="online_gosm"><%if(data.online == true) {%><td class="cell2 left">YES</td><%} else{%><td class="cell2 left">NO</td><%}%><%if(data.GOSM == true) {%><td class="cell2 left">YES</td><%} else{%><td class="cell2 left">NO</td><%}%></tr>');            
                    } else if(currentTab == 1) {
                        $("div#context").replaceWith('<div id="context" class=box><%=data.context[0]%><br/><br/><%=data.context[1]%> <br/><br/><%=data.context[2]%></div>');
                        $("div#objectives").replaceWith('<div id="objectives"><div class="field"><label>1. <%=data.objectives[0]%></label></div><br /><div><label>2. <%=data.objectives[1]%></label></div><br /><div><label>3. <%=data.objectives[2]%></label></div></div>');
                        $("table#cpd").replaceWith('<table id="cpd" class="ui compact celled definition fixed table unstackable"><thead class="full-width"><tr style="text-align: center;"><th class="item">Start Time to End Time</th><th class="item">Duration</th><th class="item">Activity</th><th class="item five wide">Brief Description of Activity</th><th class="item">Person-in-charge</th></tr></thead><tbody><%for(var i=0; i<data.program_flow.length;i++) {%><tr><td style="background:none;font-weight:1;"><%=data.program_flow[i].startTime%> to <%=data.program_flow[i].endTime%></td><td><%=data.program_flow[i].duration%> mins</td><td><%=data.program_flow[i].activity%></td><td><%=data.program_flow[i].description%></td><td><%=data.program_flow[i].person%></td></tr><%}%></tbody></table>');
                    } else if(currentTab == 2) {
                        <%if(data.breakdown_expenses.total_expense != null){%>
                            $("table#boe").replaceWith('<table id="boe" class="ui compact celled definition fixed table unstackable"><thead class="full-width"><tr style="text-align: center;"><th class="item">Materials</th><th class="item">Quantity</th><th class="item">Unit Cost</th><th class="item">Total Cost</th></tr></thead><tbody><%for(var i=0; i<data.breakdown_expenses.material.length;i++) {%><tr><td style="background:none;font-weight:1;"><%=data.breakdown_expenses.material[i].name%></td><td><%=data.breakdown_expenses.material[i].quantity%></td><td>Php <%=toProperPHP(data.breakdown_expenses.material[i].unit_cost)%></td><td>Php <%=toProperPHP(data.breakdown_expenses.material[i].total_cost)%></td></tr><%}%></tbody><tfoot class="full-width"><tr><th></th><th colspan="2" class="total" style="border-left:none;"><div class="ui right floated small primary labeled">Total:</div></th><th class="result" name="boeTotal">Php <%=toProperPHP(data.breakdown_expenses.total_expense)%></th></tr></tfoot></table>');
                        <%} else {%>
                            $("table#boe").replaceWith('<span>The activity will not incur any expenses.</span>');  
                        <%}%>
                        
                        <%if(data.source_funds.total != null) {%>    
                            $("table#sof").replaceWith('<table id="sof" class="ui compact celled definition fixed table unstackable"><thead class="full-width"><tr style="text-align: center;"><th class="item eleven wide">Source/s of Funds</th><th class="item three wide">Amount</th></tr></thead><tbody><tr><td>Organizational Funds</td><td style="background:none;font-weight:1;">Php <%=toProperPHP(data.source_funds.organization_funds)%></td></tr><tr><td>Participants Fee</td><td style="background:none;font-weight:1;">Php <%=toProperPHP(data.source_funds.participants_fee)%></tr><tr><td>Others (i.e. Sponsorships)</td><td style="background:none;font-weight:1;">Php <%=toProperPHP(data.source_funds.others)%></tr></tbody><tfoot class="full-width"><tr><th colspan="1" class="total"><div class="ui right floated small primary labeled">Total:</div></th><th class="result" name="totalSource">Php <%=toProperPHP(data.source_funds.total)%></th></tr></tfoot></table>');
                        <%} else {%>
                            $("table#sof").replaceWith('<span>The activity will not need any funding.</span>');                    
                        <%}%>
                            
                        $("table#of").replaceWith('<table id="of" class="ui compact celled definition fixed table basic unstackable"><thead class="full-width"><tr style="text-align: left;"><th class="item eleven wide" style="border-right: none;">Accumulated Operational Funds</th><th class="item four wide" style="border-left: none;"></th></tr></thead><tbody><tr><td><div class="right">Operational Fund</div></td><td>Php <%=toProperPHP(data.organizational_funds.operational_fund)%></td></tr><tr><td colspan="2" style="background: white; padding-top: 0.8em; padding-bottom: 0.8em;">Accumulated Depository Funds</td></tr><tr><td><div class="right">Depository Fund</div></td><td>Php <%=toProperPHP(data.organizational_funds.depository_fund)%></td></tr><tr><td colspan="2" style="background: white; padding-top: 0.8em; padding-bottom: 0.8em;">Other Sources of Funds</td></tr><tr><td><div class="right">Participants Fee/Donation/Sponsorships</div></td><td>Php <%=toProperPHP(data.organizational_funds.other_fund)%></td></tr><tr><td class="bg-gray bold"><div class="right italics">Total Cash for Disbursement</div></td><td style="background-color: #F7F7F7;" name="totalDisbursement">Php <%=toProperPHP(data.organizational_funds.total_disbursement)%></td></tr><tr><td><div class="right bold">Less: Total Projected Expenses</div></td><td style="background-color: #F7F7F7;">Php <%=toProperPHP(data.organizational_funds.projected_expenses)%></td></tr><tr><td class="bg-gray"><div class="right bold">REMAINING BALANCE</div></td><td style="background-color: #F7F7F7;">Php <%=toProperPHP(data.organizational_funds.rem_balance)%></td></tr></tbody></table>');
                        
                        <%if(data.projected_income.total != null){%>
                            $("table#pi").replaceWith('<table id="pi" class="ui compact celled definition fixed table unstackable"><thead class="full-width"><tr style="text-align: left;"><th colspan="4">Projected Revenue</th></tr><tr style="text-align: center;"><th class="item">Item</th><th class="item">Quantity</th><th class="item">Selling Price</th><th class="item">Amount</th></tr></thead><tbody><%for(var i=0; i<data.projected_income.revenue.length;i++) {%><tr><td style="background:none;font-weight:1;"><%=data.projected_income.revenue[i].item%></td><td><%=data.projected_income.revenue[i].quantity%></td><td>Php <%=toProperPHP(data.projected_income.revenue[i].price)%></td><td>Php <%=toProperPHP(data.projected_income.revenue[i].amount)%></td></tr><%}%></tbody><thead class="full-width"><tr style="text-align: left;"><th colspan="4">Less: Projected Expenses</th></tr><tr style="text-align: center;"><th class="item">Item</th><th class="item">Quantity</th><th class="item">Selling Price</th><th class="item">Amount</th></tr></thead><tbody><%for(var i=0; i<data.projected_income.expenses.length;i++) {%><tr><td style="background:none;font-weight:1;"><%=data.projected_income.expenses[i].item%></td><td><%=data.projected_income.expenses[i].quantity%></td><td>Php <%=toProperPHP(data.projected_income.expenses[i].price)%></td><td>Php <%=toProperPHP(data.projected_income.expenses[i].amount)%></td></tr><%}%></tbody><tfoot class="full-width"><tr><th></th><th colspan="2" class="total" style="border-left:none;"><div class="ui right floated small primary labeled">TOTAL PROJECTED INCOME</div></th><th class="result" name="boeTotal">Php <%=toProperPHP(data.projected_income.total)%></th></tr></tfoot></table>');
                        <%} else {%>
                            $("table#pi").replaceWith('<span>The activity is not a fundraising/selling activity; thus, it will not incur income or loss.</span>');                          
                        <%}%>
                        $("table#provision").replaceWith('<table id="provision" style="border: none"><tr><td class="cell2 left"><h3>Name of Person Responsible</h3></td><td class="cell2 left"><h3>Name of Person Responsible</h3></td></tr><tr><td class="cell2 left"><%=data.person_responsible[0].name%></td><td class="cell2 left"><%=data.person_responsible[1].name%></td></tr><tr><td class="cell2 left"><h3>Position</h3></td><td class="cell2 left"><h3>Position</h3></td></tr><tr><td class="cell2 left"><%=data.person_responsible[0].position%></td><td class="cell2 left"><%=data.person_responsible[1].position%></td></tr></table>');
                    }
                } else {
                    if(currentTab == 0) {
                        $("table#pheads").replaceWith(
                            '<table id="pheads" class="ui compact celled definition fixed table unstackable"><thead class="full-width"><tr style="text-align: center;"><th class="item">Name</th><th class="item">Contact Number</th></tr></thead><tbody><div id="pheads">' + '<%for(var i=0; i<prevForm.projectHeads.length;i++){%>' + '<tr><td style="background:none;font-weight:1;">' + '<%=prevForm.projectHeads[i].name%>' + '</td><td>0' + '<%=prevForm.projectHeads[i].contact_number%>' + '</td></tr>' + '<%}%>' + '</div></tbody></table>');
                        $("td#nature").replaceWith('<td id="nature" class="cell2 left"><%=prevForm.nature%></td>');
                        $("td#type").replaceWith('<td id="type" class="cell2 left"><%=prevForm.typeOfActivity%></td>');
                        $("td#date").replaceWith('<td id="date" class="cell2 left"><%=prevForm.startDate%></td>');
                        $("td#startTime").replaceWith('<td id="startTime" class="cell2 left"><%=prevForm.startTime%></td>');
                        $("td#endTime").replaceWith('<td id="endTime" class="cell2 left"><%=prevForm.endTime%></td>');
                        $("td#venue").replaceWith('<td id="venue" class="cell2 left"><%=prevForm.venue%></td>');
                        $("td#enmp").replaceWith('<td id="enmp" class="cell2 left"><%=prevForm.enmp%></td>');
                        $("td#enp").replaceWith('<td id="enp" class="cell2 left"><%=prevForm.enp%></td>');
                        $("td#reach").replaceWith('<td id="reach" class="cell2 left"><%=prevForm.reach%></td>');
                        $("tr#online_gosm").replaceWith('<tr id="online_gosm"><%if(prevForm.online == true) {%><td class="cell2 left">YES</td><%} else{%><td class="cell2 left">NO</td><%}%><%if(prevForm.GOSM == true) {%><td class="cell2 left">YES</td><%} else{%><td class="cell2 left">NO</td><%}%></tr>');                  
                    } else if(currentTab == 1) {
                        $("div#context").replaceWith('<div id="context" class=box><%=prevForm.context[0]%><br/><br/><%=prevForm.context[1]%><br/><br/><%=prevForm.context[2]%></div>');
                        $("div#objectives").replaceWith('<div id="objectives"><div class="field"><label>1. <%=prevForm.objectives[0]%></label></div><br /><div><label>2. <%=prevForm.objectives[1]%></label></div><br /><div><label>3. <%=prevForm.objectives[2]%></label></div></div>');
                        $("table#cpd").replaceWith('<table id="cpd" class="ui compact celled definition fixed table unstackable"><thead class="full-width"><tr style="text-align: center;"><th class="item">Start Time to End Time</th><th class="item">Duration</th><th class="item">Activity</th><th class="item five wide">Brief Description of Activity</th><th class="item">Person-in-charge</th></tr></thead><tbody><%for(var i=0; i<prevForm.program_flow.length;i++) {%><tr><td style="background:none;font-weight:1;"><%=prevForm.program_flow[i].startTime%> to <%=prevForm.program_flow[i].endTime%></td><td><%=prevForm.program_flow[i].duration%> mins</td><td><%=prevForm.program_flow[i].activity%></td><td><%=prevForm.program_flow[i].description%></td><td><%=prevForm.program_flow[i].person%></td></tr><%}%></tbody></table>');
                    } else if(currentTab == 2) {
                        <%if(prevForm.breakdown_expenses.total_expense != null){%>
                            $("table#boe").replaceWith('<table id="boe" class="ui compact celled definition fixed table unstackable"><thead class="full-width"><tr style="text-align: center;"><th class="item">Materials</th><th class="item">Quantity</th><th class="item">Unit Cost</th><th class="item">Total Cost</th></tr></thead><tbody><%for(var i=0; i<prevForm.breakdown_expenses.material.length;i++) {%><tr><td style="background:none;font-weight:1;"><%=prevForm.breakdown_expenses.material[i].name%></td><td><%=prevForm.breakdown_expenses.material[i].quantity%></td><td>Php <%=toProperPHP(prevForm.breakdown_expenses.material[i].unit_cost)%></td><td>Php <%=toProperPHP(prevForm.breakdown_expenses.material[i].total_cost)%></td></tr><%}%></tbody><tfoot class="full-width"><tr><th></th><th colspan="2" class="total" style="border-left:none;"><div class="ui right floated small primary labeled">Total:</div></th><th class="result" name="boeTotal">Php <%=toProperPHP(prevForm.breakdown_expenses.total_expense)%></th></tr></tfoot></table>');
                        <%} else {%>
                            $("table#boe").replaceWith('<span>The activity will not incur any expenses.</span>');                    
                        <%}%>
                        
                        <%if(prevForm.source_funds.total != null) {%>
                            $("table#sof").replaceWith('<table id="sof" class="ui compact celled definition fixed table unstackable"><thead class="full-width"><tr style="text-align: center;"><th class="item eleven wide">Source/s of Funds</th><th class="item three wide">Amount</th></tr></thead><tbody><tr><td>Organizational Funds</td><td style="background:none;font-weight:1;">Php <%=toProperPHP(prevForm.source_funds.organization_funds)%></td></tr><tr><td>Participants Fee</td><td style="background:none;font-weight:1;">Php <%=toProperPHP(prevForm.source_funds.participants_fee)%></tr><tr><td>Others (i.e. Sponsorships)</td><td style="background:none;font-weight:1;">Php <%=toProperPHP(prevForm.source_funds.others)%></tr></tbody><tfoot class="full-width"><tr><th colspan="1" class="total"><div class="ui right floated small primary labeled">Total:</div></th><th class="result" name="totalSource">Php <%=toProperPHP(prevForm.source_funds.total)%></th></tr></tfoot></table>');
                        <%} else {%>
                            $("table#sof").replaceWith('<span>The activity will not need any funding.</span>');                          
                        <%}%>
                            
                        $("table#of").replaceWith('<table id="of" class="ui compact celled definition fixed table basic unstackable"><thead class="full-width"><tr style="text-align: left;"><th class="item eleven wide" style="border-right: none;">Accumulated Operational Funds</th><th class="item four wide" style="border-left: none;"></th></tr></thead><tbody><tr><td><div class="right">Operational Fund</div></td><td>Php <%=toProperPHP(prevForm.organizational_funds.operational_fund)%></td></tr><tr><td colspan="2" style="background: white; padding-top: 0.8em; padding-bottom: 0.8em;">Accumulated Depository Funds</td></tr><tr><td><div class="right">Depository Fund</div></td><td>Php <%=toProperPHP(prevForm.organizational_funds.depository_fund)%></td></tr><tr><td colspan="2" style="background: white; padding-top: 0.8em; padding-bottom: 0.8em;">Other Sources of Funds</td></tr><tr><td><div class="right">Participants Fee/Donation/Sponsorships</div></td><td>Php <%=toProperPHP(prevForm.organizational_funds.other_fund)%></td></tr><tr><td class="bg-gray bold"><div class="right italics">Total Cash for Disbursement</div></td><td style="background-color: #F7F7F7;" name="totalDisbursement">Php <%=toProperPHP(prevForm.organizational_funds.total_disbursement)%></td></tr><tr><td><div class="right bold">Less: Total Projected Expenses</div></td><td style="background-color: #F7F7F7;">Php <%=toProperPHP(prevForm.organizational_funds.projected_expenses)%></td></tr><tr><td class="bg-gray"><div class="right bold">REMAINING BALANCE</div></td><td style="background-color: #F7F7F7;">Php <%=toProperPHP(prevForm.organizational_funds.rem_balance)%></td></tr></tbody></table>');
                                                  
                        <%if(prevForm.projected_income.total != null){%>
                            $("table#pi").replaceWith('<table id="pi" class="ui compact celled definition fixed table unstackable"><thead class="full-width"><tr style="text-align: left;"><th colspan="4">Projected Revenue</th></tr><tr style="text-align: center;"><th class="item">Item</th><th class="item">Quantity</th><th class="item">Selling Price</th><th class="item">Amount</th></tr></thead><tbody><%for(var i=0; i<prevForm.projected_income.revenue.length;i++) {%><tr><td style="background:none;font-weight:1;"><%=prevForm.projected_income.revenue[i].item%></td><td><%=prevForm.projected_income.revenue[i].quantity%></td><td>Php <%=toProperPHP(prevForm.projected_income.revenue[i].price)%></td><td>Php <%=toProperPHP(prevForm.projected_income.revenue[i].amount)%></td></tr><%}%></tbody><thead class="full-width"><tr style="text-align: left;"><th colspan="4">Less: Projected Expenses</th></tr><tr style="text-align: center;"><th class="item">Item</th><th class="item">Quantity</th><th class="item">Selling Price</th><th class="item">Amount</th></tr></thead><tbody><%for(var i=0; i<prevForm.projected_income.expenses.length;i++) {%><tr><td style="background:none;font-weight:1;"><%=prevForm.projected_income.expenses[i].item%></td><td><%=prevForm.projected_income.expenses[i].quantity%></td><td>Php <%=toProperPHP(prevForm.projected_income.expenses[i].price)%></td><td>Php <%=toProperPHP(prevForm.projected_income.expenses[i].amount)%></td></tr><%}%></tbody><tfoot class="full-width"><tr><th></th><th colspan="2" class="total" style="border-left:none;"><div class="ui right floated small primary labeled">TOTAL PROJECTED INCOME</div></th><th class="result" name="boeTotal">Php <%=toProperPHP(prevForm.projected_income.total)%></th></tr></tfoot></table>');
                        <%} else {%>
                            $("table#pi").replaceWith('<span>The activity is not a fundraising/selling activity; thus, it will not incur income or loss.</span>'); 
                        <%}%>
                                                      
                        $("table#provision").replaceWith('<table id="provision" style="border: none"><tr><td class="cell2 left"><h3>Name of Person Responsible</h3></td><td class="cell2 left"><h3>Name of Person Responsible</h3></td></tr><tr><td class="cell2 left"><%=prevForm.person_responsible[0].name%></td><td class="cell2 left"><%=prevForm.person_responsible[1].name%></td></tr><tr><td class="cell2 left"><h3>Position</h3></td><td class="cell2 left"><h3>Position</h3></td></tr><tr><td class="cell2 left"><%=prevForm.person_responsible[0].position%></td><td class="cell2 left"><%=prevForm.person_responsible[1].position%></td></tr></table>');
                    }
                }
                <%}%>
            }

            $('#newButton, #oldButton').click(function () {
                if (this.id == 'newButton') {
                    newVersion = true;
                    $("#newButton").addClass("active");
                    $("#newButton").removeClass("basic");
                    $("#oldButton").removeClass("active");
                    $("#oldButton").addClass("basic");
                    changeContent();
                }
                else if (this.id == 'oldButton') {
                    newVersion = false;
                    $("#oldButton").addClass("active");
                    $("#oldButton").removeClass("basic");
                    $("#newButton").removeClass("active");
                    $("#newButton").addClass("basic");
                    changeContent();
                }
            });
                            
                            
        </script>
    </body>

</html>