<% include ./functions.ejs %>

<html>

<head>
    <title>View Form</title>

<!--    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>-->
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/viewForm.css">

<!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
-->
    <script src=static/lib/jquery-3.3.1.min.js ></script>

</head>

<body>

    <div id="main">
        <h1 class="ui header">Project Proposal</h1>
        <!-- <div class="right floated column"><img src="assets/svg/logo_opps-logo-green.svg" /></div> -->
        <div class="row"></div>

        <table style="border: none">
            <tr>
                <th>Organization:</th>
                <th>Title of the Activity:</th>
            </tr>
            <tr>
                <td>
                    <%=data.org%>
                </td>
                <td>
                    <%=data.title%>
                </td>
            </tr>
        </table>

        <br />
        <table style="border: none">
            <tr>
                <th>Nature of the Activity:</th>
                <th>Type of the Activity:</th>
            </tr>
            <tr>
                <td>
                    <%=data.nature%>
                </td>
                <td>
                    <%=data.typeOfActivity%>
                </td>
            </tr>
        </table>

        <br />
        <table style="border: none">
            <tr>
                <th>Date of the Activity:</th>
            </tr>
            <tr>
                <td>
                    <%=data.startDate%>
                </td>
            </tr>
        </table>

        <br />
        <table style="border: none">
            <tr>
                <th>Start Time of the Activity:</th>
                <th>End Time of the Activity:</th>
            </tr>
            <tr>
                <td>
                    <%=data.startTime%>
                </td>
                <td>
                    <%=data.endTime%>
                </td>
            </tr>
        </table>

        <br />
        <table style="border: none">
            <tr>
                <th>ENMP:</th>
                <th>ENP:</th>
            </tr>
            <tr>
                <td>
                    <%=data.enmp%>
                </td>
                <td>
                    <%=data.enp%>
                </td>
            </tr>
        </table>

        <br />
        <table style="border: none">
            <tr>
                <th>Venue of the Activity:</th>
                <th>Reach of the Activity:</th>
            </tr>
            <tr>
                <td>
                    <%=data.venue%>
                </td>
                <td>
                    <%=data.reach%>
                </td>
            </tr>
        </table>

        <br />
        <table style="border: none">
            <tr>
                <th>Online Activity:</th>
                <th>Activity in GOSM:</th>
            </tr>
            <tr>
                <%if(data.online == true) {%>
                <td>YES</td>
                <%} else{%>
                <td>NO</td>
                <%}%>
                <%if(data.GOSM == true) {%>
                <td>YES</td>
                <%} else{%>
                <td>NO</td>
                <%}%>
            </tr>
        </table>

        <br />
        <h3>Brief Context/Perspective of the Activity</h3>
        <label>Part 1</label>
        <ul>
            <li>What situation do you see (observation/s) in your organization, university, society, or our world?</li>
            <li>What certain experiences, problems, or questions do you have in relation to what you see? (May be
                supported with examples)</li>
        </ul>
        <div class="box">
            <%=data.context[0]%>
        </div>

        <br />
        <label>Part 2</label>
        <ul>
            <li>What situation do you see (observation/s) in your organization, university, society, or our world?</li>
            <li>What certain experiences, problems, or questions do you have in relation to what you see? (May be
                supported with examples)</li>
        </ul>
        <div class="box">
            <%=data.context[1]%>
        </div>

        <br />
        <label>Part 3</label>
        <ul>
            <li>Out of all the possible projects, activities, and solutions, why this?</li>
            <li>As an organization, what will you commit as a response to what you have started in Part 2?</li>
        </ul>
        <div class="box">
            <%=data.context[2]%>
        </div>

        <br />
        <h3>Objectives</h3>
        <ol>
            <li>
                <%=data.objectives[0]%>
            </li>
            <li>
                <%=data.objectives[1]%>
            </li>
            <li>
                <%=data.objectives[2]%>
            </li>
        </ol>

        <h3>Project Heads</h3>
        <table>
            <tr>
                <th class="cell">Name</th>
                <th class="cell">Contact Number</th>
            </tr>
            <%for(var i=0; i<data.projectHeads.length;i++) {%>
            <tr>
                <td class="cell left">
                    <%=data.projectHeads[i].name%>
                </td>
                <td class="cell left">
                    <%=data.projectHeads[i].contact_number%>
                </td>
            </tr>
            <%}%>
        </table>

        <h3>Comprehensive Program Design</h3>
        <table>
            <tr>
                <th class="cell">Time</th>
                <th class="cell">Duration</th>
                <th class="cell">Activity</th>
                <th class="cell">Brief Description</th>
                <th class="cell">Person-In-Charge</th>
            </tr>
            <%for(var i=0; i<data.program_flow.length;i++) {%>
            <tr>
                <td class="cell left">
                    <%=data.program_flow[i].startTime%> to
                    <%=data.program_flow[i].endTime%>
                </td>
                <td class="cell left">
                    <%=data.program_flow[i].duration%> mins</td>
                <td class="cell left">
                    <%=data.program_flow[i].activity%>
                </td>
                <td class="cell left">
                    <%=data.program_flow[i].description%>
                </td>
                <td class="cell left">
                    <%=data.program_flow[i].person%>
                </td>
            </tr>
            <%}%>
        </table>

        <h3>Breakdown of Expenses</h3>
        <table>
            <tbody>
                <tr>
                    <th class="cell">Materials</th>
                    <th class="cell">Quantity</th>
                    <th class="cell">Unit Cost</th>
                    <th class="cell">Total Cost</th>
                </tr>
                <%for(var i=0; i<data.breakdown_expenses.material.length;i++) {%>
                <tr>
                    <td class="cell left">
                        <%=data.breakdown_expenses.material[i].name%>
                    </td>
                    <td class="cell left">
                        <%=data.breakdown_expenses.material[i].quantity%>
                    </td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.breakdown_expenses.material[i].unit_cost)%>
                    </td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.breakdown_expenses.material[i].total_cost)%>
                    </td>
                </tr>
                <%}%>

            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3" class="cell right"> Total:</th>
                    <th class="cell left">Php
                        <%=toProperPHP(data.breakdown_expenses.total_expense)%>
                    </th>
                </tr>
            </tfoot>
        </table>

        <h3>Source of Funds</h3>
        <table>
            <tbody>
                <tr>
                    <th class="cell">Sources of Funds</th>
                    <th class="cell">Amount</th>
                </tr>
                <tr>
                    <td class="cell right">Organizational Funds</td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.source_funds.organization_funds)%>
                    </td>
                </tr>
                <tr>
                    <td class="cell right">Participants Fee</td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.source_funds.participants_fee)%>
                    </td>
                </tr>
                <tr>
                    <td class="cell right">Others (i.e. Sponsorships)</td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.source_funds.others)%>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="cell right"> Total:</th>
                    <th class="cell left">Php
                        <%=toProperPHP(data.source_funds.total)%>
                    </th>
                </tr>
            </tfoot>
        </table>

        <h3>Organizational Funds</h3>
        <table>
            <tbody>
                <tr>
                    <th colspan="2" class="cell left">Accumulated Operational Funds</th>
                </tr>
                <tr>
                    <td class="cell right">Operational Fund</td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.organizational_funds.operational_fund)%>
                    </td>
                </tr>
                <tr>
                    <th colspan="2" class="cell left">Accumulated Depository Funds</th>
                </tr>
                <tr>
                    <td class="cell right">Depository Fund</td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.organizational_funds.depository_fund)%>
                    </td>
                </tr>
                <tr>
                    <th colspan="2" class="cell left">Other Sources of Funds</th>
                </tr>
                <tr>
                    <td class="cell right">Participants Fee/Donation/Sponsorships</td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.organizational_funds.other_fund)%>
                    </td>
                </tr>
                <tr>
                    <td class="cell right gray-bg"><b>Total Cash For Disbursement</b></td>
                    <td class="cell left gray-bg">Php
                        <%=toProperPHP(data.organizational_funds.total_disbursement)%>
                    </td>
                </tr>
                <tr>
                    <td class="cell right"><b>Less: Total Projected Expenses</b></td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.organizational_funds.projected_expenses)%>
                    </td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <th class="cell right gray-bg">REMAINING BALANCE</th>
                    <th class="cell left gray-bg">Php
                        <%=toProperPHP(data.organizational_funds.rem_balance)%>
                    </th>
                </tr>
            </tfoot>
        </table>

        <h3>Projected Income</h3>
        <table>
            <tbody>
                <tr>
                    <th colspan="4" class="cell left">Projected Revenue</th>
                </tr>
                <tr>
                    <th class="cell">Item</th>
                    <th class="cell">Quantity</th>
                    <th class="cell">Selling Price</th>
                    <th class="cell">Amount</th>
                </tr>
                <%for(var i=0; i<data.projected_income.revenue.length;i++) {%>
                <tr>
                    <td class="cell left">
                        <%=data.projected_income.revenue[i].item%>
                    </td>
                    <td class="cell left">
                        <%=data.projected_income.revenue[i].quantity%>
                    </td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.projected_income.revenue[i].price)%>
                    </td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.projected_income.revenue[i].amount)%>
                    </td>
                </tr>
                <%}%>
                <tr>
                    <th colspan="4" class="cell left">Less: Projected Expenses</th>
                </tr>
                <tr>
                    <th class="cell">Item</th>
                    <th class="cell">Quantity</th>
                    <th class="cell">Selling Price</th>
                    <th class="cell">Amount</th>
                </tr>
                <%for(var i=0; i<data.projected_income.revenue.length;i++) {%>
                <tr>
                    <td class="cell left">
                        <%=data.projected_income.expenses[i].item%>
                    </td>
                    <td class="cell left">
                        <%=data.projected_income.expenses[i].quantity%>
                    </td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.projected_income.expenses[i].price)%>
                    </td>
                    <td class="cell left">Php
                        <%=toProperPHP(data.projected_income.expenses[i].amount)%>
                    </td>
                </tr>
                <%}%>

            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3" class="cell right gray-bg">TOTAL PROJECTED INCOME</th>
                    <th class="cell left gray-bg">Php
                        <%=toProperPHP(data.projected_income.total)%>
                    </th>
                </tr>
            </tfoot>
        </table>

        <h3>Provision for Profit and Loss</h3>
        <p>The following people shall be held liable and will shoulder any remaining balance incurred by the project.</p>

        <table style="border: none">
            <tr>
                <th>Name:</th>
                <th>Position:</th>
            </tr>
            <% for(var i = 0; i < data.person_responsible.length; i++) {%>
            <tr>
                <td>
                    <%=data.person_responsible[i].name%>
                </td>
                <td>
                    <%=data.person_responsible[i].position%>
                </td>
            </tr>
            <% } %>
        </table>

        <br />

        <%if(button === true) {%>
        <div>
            <form id="status-form" action="/preacts/approve/<%=data._id%>" method="post">
                <!--                    <input id="status" style="display:none;" name="status">-->
                <input id="approve" type="submit" class="button approve" value="Approve">
                <!--                    <input id="reject" type="submit" class="button reject" value="Reject">-->
            </form>
            <form id="status-form" action="/preacts/reject/<%=data._id%>" method="post">
                <!--                    <input id="status" style="display:none;" name="status">-->
                <!--                    <input id="approve" type="submit" class="button approve" value="Approve">-->
                <input id="reject" type="submit" class="button reject" value="Reject">
            </form>
        </div>
        <%} else {%>
        <form id="status-form" action="/preacts" method="get">
            <input id="done" type="submit" class="button done" value="Done">
        </form>
        <%}%>
    </div>

    <script>
        function approve() {
            var status = document.getElementById('status');
            status.setAttribute('value', 'Approved');
        }

        function reject() {
            var status = document.getElementById('status');
            status.setAttribute('value', 'Rejected');
        }

        $(document).ready(function () {
            document.getElementById("approve").addEventListener("click", function () {
                approve();
            });

            document.getElementById("reject").addEventListener("click", function () {
                reject();
            });
        });
    </script>
</body>

</html>